*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	text-transform: uppercase;
}
body{
	background: coral;
}
header{
	margin: 0 auto;
	max-width: 1024px;
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header>a{
	color: green;
	background: #81F7F3;
	border-radius: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 32px;
}
.menu>li>a{
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
}
header>a:hover{
	background: #01DFA5;
}
.menu>li>a:hover{
	color: #0000FF;
}
header>p{
	padding: 15px 0;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 26px;
	color: #0B2161;
}
li{
	list-style-type: none;
}
.menu{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 500px;
}
.menu>li{

	text-transform: uppercase;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}
.wrapper{
	margin: 0 auto;
	max-width: 1024px;
	background: #E0F8F7;
	border-radius: 10px;
	padding: 90px 60px;
}
.img-box{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.img-box>div>p{
	width: 260px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
}
.img-box>div>img{
	width: 260px;
	height: 200px;
}
.img-box>div{
	display: flex;
	flex-direction: column;
	min-height: 500px;
	justify-content: space-between;
}
.img-box>div>a{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}
footer{
	padding: 30px 0;
	margin: 0 auto;
	max-width: 1024px;
}
.social-icons{
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	width: 230px;
	justify-content: space-between;
}
.social-icons>a>img{
	width: 50px;
	height: 50px;}
footer>p{
	margin-top: 10px;
	font-size: 16px;
	color: #fff;
	text-align: center;
}
@media screen (min-width: 320px) and (max-width: 768px){
	.menu{
		width: 50px;
	}
	.img-box{
		flex-direction: column;
		flex-wrap: nowrap;
	}
}